# Python
backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc

# Next.js / Node
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
frontend/.vercel/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Notebook cache
.ipynb_checkpoints/

backend/.vercel/
